{% load static %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top" id="main-navbar">
    <div class="container">
        <a class="navbar-brand pr-5" style="border-right: 1px solid #efefef;" href="{% url 'index' %}">
            <img src="{% static "img/glasmart_logo.png" %}" height="45" class="d-inline-block align-top"/>
        </a>
        <ul class="navbar-nav mr-auto float-left navbar-expand">
            <li class="nav-item nav-link ">
                <a href="{% url 'about' %}" class="text-warning"> <i class="fa fa-id-card" aria-hidden="true"></i> About us </a>
            </li>
            <li class="nav-item nav-link ">
                <a href="{% url 'shop' %}" class="text-warning"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop </a>
            </li>
            
        </ul>
        <ul class="navbar-nav my-lg-0 float-right navbar-expand">
            <li class="nav-item nav-link dropdown mega-dropdown ">
                <a href="{% url 'login'%}" class="text-warning"><i class="fa fa-sign-in-alt" aria-hidden="true"></i> Login </a>
            </li>
            
            <li class="nav-item nav-link dropdown mega-dropdown ">
                <a href="{% url 'signin'%}" class="text-warning"><i class="fa fa-address-book" aria-hidden="true"></i> Sign In</a>
            </li>
        </ul>
        
    </div>
</nav>